{% extends 'base.html' %}

{%block content%}
  <body>
    <!-- Preloader-->
    <div class="preloader" id="preloader">
      <div class="spinner-grow text-secondary" role="status">
        <div class="sr-only"></div>
      </div>
    </div>
    <!-- Login Wrapper Area-->
    <div class="login-wrapper d-flex align-items-center justify-content-center text-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-10 col-lg-8">
            <img class="big-logo" src="img/core-img/logo-white.png" alt="" />
            <!-- Register Form-->
            <div class="register-form mt-5">
              <form method="POST">
                {% csrf_token %}
                <div class="form-group text-start mb-4">
                  <span>Email or Username</span>
                  <label for="email"><i class="fa-solid fa-user"></i></label>
                  <input class="form-control" name="mobile_number" placeholder="Enter your mobile number" />
                </div>
                <button class="btn btn-warning btn-lg w-100" type="submit">Reset Password</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%endblock%}
  </body>
</html>
