<div class="footer-nav-area" id="footerNav">
  <div class="suha-footer-nav">
    <ul class="h-100 d-flex align-items-center justify-content-between ps-0 d-flex rtl-flex-d-row-r">
      <li>
        <a href="home.html"><i class="fa-solid fa-house"></i>Home</a>
      </li>
      <li>
        <a href="message.html"><i class="fa-solid fa-comment-dots"></i>Chat</a>
      </li>
      <li>
        <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i>Basket</a>
      </li>
      <li>
        <a href="settings.html"><i class="fa-solid fa-gear"></i>Settings</a>
      </li>
      <li>
        <a href="pages.html"><i class="fa-solid fa-heart"></i>Pages</a>
      </li>
    </ul>
  </div>
</div>
