{%load static%}
<section class="banner-section ratio2_1">
  <div class="h-banner-slider">
    <div>
      <div class="banner-box">
        <img src="{% static 'pwa/images/banner/home1.jpg' %}" alt="banner" class="bg-img" />
        <div class="content-box">
          <h1 class="title-color font-md heading">Farm Fresh Veggies</h1>
          <p class="content-color font-sm">Get instant delivery</p>
          <a href="shop.html" class="btn-solid font-sm">Shop Now</a>
        </div>
      </div>
    </div>

    <div>
      <div class="banner-box">
        <img src="{% static 'pwa/images/banner/home2.jpg' %}" alt="banner" class="bg-img" />
        <div class="content-box">
          <h2 class="font-white font-md heading">Farm Fresh Veggies</h2>
          <p class="font-white font-sm">Get instant delivery</p>
          <a href="shop.html" class="btn-outline font-sm">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
