{%load static%}
<section class="coupons-section pt-0">
  <div class="coupon-wrap">
    <div class="top-content">
      <div>
        <h4 class="title-color">Coupens For You</h4>
        <p class="content-color">Popular Offers of the Day</p>
      </div>
      <a href="offer.html" class="font-theme">See all</a>
    </div>

    <div class="coupon-box coupon-slider">
      <div>
        <a href="offer.html">
          <div class="cupon bg-theme-orange">
            <span class="circle-shape-wrap left">
              <span class="circle-shape"></span>
            </span>
            <span class="circle-shape-wrap right">
              <span class="circle-shape"></span>
            </span>
            <div class="img-wrap">
              <img src="{% static 'pwa/icons/png/google2.png' %}" alt="google pay" />
            </div>
            <div class="content-wrap">
              <h5 class="title-color">50% OFF</h5>
              <span class="content-color">UPTO $20.00</span>
            </div>
          </div></a
        >
      </div>

      <div>
        <a href="offer.html">
          <div class="cupon bg-white">
            <span class="circle-shape-wrap left">
              <span class="circle-shape"></span>
            </span>
            <span class="circle-shape-wrap right">
              <span class="circle-shape"></span>
            </span>
            <div class="img-wrap">
              <img src="{% static 'pwa/icons/png/paypal.png' %}" alt="google pay" />
            </div>
            <div class="content-wrap">
              <h5 class="title-color">50% OFF</h5>
              <span class="content-color">UPTO $20.00</span>
            </div>
          </div>
        </a>
      </div>
      <div>
        <a href="offer.html">
          <div class="cupon bg-theme-yellow">
            <span class="circle-shape-wrap left">
              <span class="circle-shape"></span>
            </span>
            <span class="circle-shape-wrap right">
              <span class="circle-shape"></span>
            </span>
            <div class="img-wrap">
              <img src="{% static 'pwa/icons/png/venmo.png' %}" alt="google pay" />
            </div>
            <div class="content-wrap">
              <h5 class="title-color">50% OFF</h5>
              <span class="content-color">UPTO $20.00</span>
            </div>
          </div></a
        >
      </div>
      <div>
        <a href="offer.html">
          <div class="cupon bg-theme-orange">
            <span class="circle-shape-wrap left">
              <span class="circle-shape"></span>
            </span>
            <span class="circle-shape-wrap right">
              <span class="circle-shape"></span>
            </span>
            <div class="img-wrap">
              <img src="{% static 'pwa/icons/png/google2.png' %}" alt="google pay" />
            </div>
            <div class="content-wrap">
              <h5 class="title-color">50% OFF</h5>
              <span class="content-color">UPTO $20.00</span>
            </div>
          </div></a
        >
      </div>
    </div>
  </div>
</section>
