<div class="shop-fillter offcanvas offcanvas-bottom" tabindex="-1" id="filter" aria-labelledby="filter">
  <div class="offcanvas-header">
    <div class="catagories">
      <h5 class="title-color font-md">Category</h5>
      <button class="font-md reset">Reset</button>
    </div>
  </div>
  <div class="offcanvas-body small">
    <div class="input-box">
      <div class="select-box">
        <select class="form-control">
          <option>Fresh Fruits& Vegetables</option>
          <option>Oils,Refined & Ghee</option>
          <option>Rice, Flour & Grains</option>
          <option>Food Cupboard</option>
          <option>Drinks& Beverages</option>
          <option>Instant Mixes</option>
        </select>
        <span><i data-feather="chevron-right"></i></span>
      </div>
    </div>

    <div class="pack-size">
      <h5 class="title-color font-md">Pack Size</h5>
      <div class="row g-3">
        <div class="col-6">
          <div class="size">
            <span class="font-sm">100g-500g</span>
          </div>
        </div>

        <div class="col-6">
          <div class="size">
            <span class="font-sm">500g-1kg</span>
          </div>
        </div>

        <div class="col-6">
          <div class="size">
            <span class="font-sm">1kg-1.5kg</span>
          </div>
        </div>

        <div class="col-6">
          <div class="size">
            <span class="font-sm">2kg-3.5kg</span>
          </div>
        </div>
      </div>
    </div>

    <div class="prize-select">
      <h5 class="title-color font-md">Price Range</h5>
      <div class="filter-content">
        <div class="range-slider pricing-slider">
          <input type="text" class="js-range-slider" value="" />
        </div>
      </div>
    </div>
  </div>
  <div class="offcanvas-footer">
    <div class="btn-box">
      <button class="btn-outline font-md" data-bs-dismiss="offcanvas" aria-label="Close">Close</button>
      <button class="btn-solid font-md" data-bs-dismiss="offcanvas" aria-label="Close">Apply</button>
    </div>
  </div>
</div>
