{%load static%}
<footer class="footer-wrap">
  <ul class="footer">
    <li class="footer-item active">
      <a href="{% url 'home:home' %}" class="footer-link">
        <i class="iconly-Home icli"></i>
        <span>Home</span>
      </a>
    </li>
    <li class="footer-item">
      <a href="category-wide.html" class="footer-link">
        <i class="iconly-Category icli"></i>
        <span>Category</span>
      </a>
    </li>
    <li class="footer-item">
      <a href="search.html" class="footer-link">
        <i class="iconly-Search icli"></i>
        <span>Search</span>
      </a>
    </li>
    <li class="footer-item">
      <a href="offer.html" class="footer-link">
        <lord-icon class="icon" src="{% static 'pwa/icons/gift.json' %}" trigger="loop" stroke="70" colors="primary:#ffffff,secondary:#ffffff"></lord-icon>
        <span class="offer">Offers</span>
      </a>
    </li>
    <li class="footer-item">
      <a href="cart.html" class="footer-link">
        <i class="iconly-Bag-2 icli"></i>
        <span>Cart</span>
      </a>
    </li>
  </ul>
</footer>
