<section class="recently-viewed">
  <div class="top-content">
    <div>
      <h4 class="title-color">Lowest Price</h4>
      <p class="font-xs content-color">Pay less, Get More</p>
    </div>
    <a href="shop.html" class="font-xs font-theme">See all</a>
  </div>
  <div class="product-slider">
    <div>
      <div class="product-card">
        <div class="img-wrap">
          <a href="product.html"><img src="assets/images/product/10.png" class="img-fluid" alt="product" /> </a>
        </div>
        <div class="content-wrap">
          <a href="product.html" class="font-sm title-color">Assorted Capsicum Combo </a>
          <span class="content-color font-xs">500g</span>
          <span class="title-color font-sm plus-item"
            >$25.00
            <span class="plus-minus">
              <i class="sub" data-feather="minus"></i>
              <input class="val" type="number" value="1" min="1" max="10" />
              <i class="add" data-feather="plus"></i>
            </span>
            <span class="plus-theme"><i data-feather="plus"></i> </span
          ></span>
        </div>
      </div>
    </div>

    <div>
      <div class="product-card">
        <div class="img-wrap">
          <a href="product.html"><img src="assets/images/product/11.png" class="img-fluid" alt="product" /> </a>
        </div>
        <div class="content-wrap">
          <a href="product.html" class="font-sm title-color">Assorted Capsicum Combo </a>
          <span class="content-color font-xs">500g</span>
          <span class="title-color font-sm plus-item"
            >$25.00
            <span class="plus-minus">
              <i class="sub" data-feather="minus"></i>
              <input class="val" type="number" value="1" min="1" max="10" />
              <i class="add" data-feather="plus"></i>
            </span>
            <span class="plus-theme"><i data-feather="plus"></i> </span
          ></span>
        </div>
      </div>
    </div>

    <div>
      <div class="product-card">
        <div class="img-wrap">
          <a href="product.html"><img src="assets/images/product/11.png" class="img-fluid" alt="product" /> </a>
        </div>
        <div class="content-wrap">
          <a href="product.html" class="font-sm title-color">Assorted Capsicum Combo </a>
          <span class="content-color font-xs">500g</span>
          <span class="title-color font-sm plus-item"
            >$25.00
            <span class="plus-minus">
              <i class="sub" data-feather="minus"></i>
              <input class="val" type="number" value="1" min="1" max="10" />
              <i class="add" data-feather="plus"></i>
            </span>
            <span class="plus-theme"><i data-feather="plus"></i> </span
          ></span>
        </div>
      </div>
    </div>

    <div>
      <div class="product-card">
        <div class="img-wrap">
          <a href="product.html"><img src="assets/images/product/12.png" class="img-fluid" alt="product" /> </a>
        </div>
        <div class="content-wrap">
          <a href="product.html" class="font-sm title-color">Assorted Capsicum Combo </a>
          <span class="content-color font-xs">500g</span>
          <span class="title-color font-sm plus-item"
            >$25.00
            <span class="plus-minus">
              <i class="sub" data-feather="minus"></i>
              <input class="val" type="number" value="1" min="1" max="10" />
              <i class="add" data-feather="plus"></i>
            </span>
            <span class="plus-theme"><i data-feather="plus"></i> </span
          ></span>
        </div>
      </div>
    </div>

    <div>
      <div class="product-card">
        <div class="img-wrap">
          <a href="product.html"><img src="assets/images/product/13.png" class="img-fluid" alt="product" /> </a>
        </div>
        <div class="content-wrap">
          <a href="product.html" class="font-sm title-color">Assorted Capsicum Combo </a>
          <span class="content-color font-xs">500g</span>
          <span class="title-color font-sm plus-item"
            >$25.00
            <span class="plus-minus">
              <i class="sub" data-feather="minus"></i>
              <input class="val" type="number" value="1" min="1" max="10" />
              <i class="add" data-feather="plus"></i>
            </span>
            <span class="plus-theme"><i data-feather="plus"></i> </span
          ></span>
        </div>
      </div>
    </div>

    <div>
      <div class="product-card">
        <div class="img-wrap">
          <a href="product.html"><img src="assets/images/product/9.png" class="img-fluid" alt="product" /> </a>
        </div>
        <div class="content-wrap">
          <a href="product.html" class="font-sm title-color">Assorted Capsicum Combo </a>
          <span class="content-color font-xs">500g</span>
          <span class="title-color font-sm plus-item"
            >$25.00
            <span class="plus-minus">
              <i class="sub" data-feather="minus"></i>
              <input class="val" type="number" value="1" min="1" max="10" />
              <i class="add" data-feather="plus"></i>
            </span>
            <span class="plus-theme"><i data-feather="plus"></i> </span
          ></span>
        </div>
      </div>
    </div>
  </div>
</section>
