{%load static%}
<section class="offer-section pt-0">
  <div class="offer">
    <div class="top-content">
      <div>
        <h4 class="title-color">Say hello to Offers!</h4>
        <p class="content-color">Best price ever of all the time</p>
      </div>
      <a href="offer.html" class="font-theme">See all</a>
    </div>

    <div class="offer-wrap">
      <div class="product-list media">
        <a href="product.html"><img src="{% static 'pwa/images/product/8.png' %}" class="img-fluid" alt="offer" /></a>
        <div class="media-body">
          <a href="product.html" class="font-sm"> Assorted Capsicum Combo </a>
          <span class="content-color font-xs">500g</span>
          <span class="title-color font-sm">$25.00 <span class="badges-round bg-theme-theme font-xs">50% off</span></span>
          <div class="plus-minus d-xs-none">
            <i class="sub" data-feather="minus"></i>
            <input type="number" value="1" min="0" max="10" />
            <i class="add" data-feather="plus"></i>
          </div>
        </div>
      </div>

      <div class="product-list media">
        <a href="product.html"><img src="{% static 'pwa/images/product/6.png' %}" class="img-fluid" alt="offer" /></a>
        <div class="media-body">
          <a href="product.html" class="font-sm"> Assorted Capsicum Combo </a>
          <span class="content-color font-xs">500g</span>
          <span class="title-color font-sm">$25.00 <span class="badges-round bg-theme-theme font-xs">50% off</span></span>
          <div class="plus-minus d-xs-none">
            <i class="sub" data-feather="minus"></i>
            <input type="number" value="1" min="0" max="10" />
            <i class="add" data-feather="plus"></i>
          </div>
        </div>
      </div>

      <div class="product-list media">
        <a href="product.html"><img src="{% static 'pwa/images/product/7.png' %}" class="img-fluid" alt="offer" /></a>
        <div class="media-body">
          <a href="product.html" class="font-sm"> Assorted Capsicum Combo </a>
          <span class="content-color font-xs">500g</span>
          <span class="title-color font-sm">$25.00 <span class="badges-round bg-theme-theme font-xs">50% off</span></span>
          <div class="plus-minus d-xs-none">
            <i class="sub" data-feather="minus"></i>
            <input type="number" value="1" min="0" max="10" />
            <i class="add" data-feather="plus"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
