{%load static%}
<section class="recently pt-0">
  <div class="recently-wrap">
    <h3 class="font-md">Buy from Recently Bought</h3>
    <img class="corner" src="{% static 'pwa/svg/corner.svg' %}" alt="corner" />

    <div class="recently-list-slider recently-list">
      <div>
        <div class="item">
          <a href="product.html"><img src="{% static 'pwa/images/product/2.png' %}" alt="product" /></a>
        </div>
      </div>

      <div>
        <div class="item">
          <a href="product.html"><img src="{% static 'pwa/images/product/3.png' %}" alt="product" /></a>
        </div>
      </div>
      <div>
        <div class="item">
          <a href="product.html"><img src="{% static 'pwa/images/product/1.png' %}" alt="product" /></a>
        </div>
      </div>
      <div>
        <div class="item">
          <a href="product.html"><img src="{% static 'pwa/images/product/6.png' %}" alt="product" /></a>
        </div>
      </div>
      <div>
        <div class="item">
          <a href="product.html"><img src="{% static 'pwa/images/product/7.png' %}" alt="product" /></a>
        </div>
      </div>
      <div>
        <div class="item">
          <a href="product.html"><img src="{% static 'pwa/images/product/2.png' %}" alt="product" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
