{%load static%}
<section class="category pt-0">
  <h3 class="font-md"><span>Shop By Category </span><span class="line"></span></h3>
  <div class="row gy-sm-4 gy-2">
    <div class="col-3">
      <div class="category-wrap">
        <div class="bg-shape bg-theme-blue border-blue"></div>
        <a href="shop.html"> <img class="category img-fluid" src="{% static 'pwa/images/catagoeris/1.png' %}" alt="category" /> </a>
        <span class="title-color">Oils,Refined & Ghee</span>
      </div>
    </div>

    <div class="col-3">
      <div class="category-wrap">
        <div class="bg-shape bg-theme-yellow border-yellow"></div>
        <a href="shop.html"> <img class="category img-fluid" src="{% static 'pwa/images/catagoeris/2.png' %}" alt="category" /> </a>
        <span class="title-color">Rice, Flour & Grains</span>
      </div>
    </div>

    <div class="col-3">
      <div class="category-wrap">
        <div class="bg-shape bg-theme-orange border-orange"></div>
        <a href="shop.html"> <img class="category img-fluid" src="{% static 'pwa/images/catagoeris/3.png' %}" alt="category" /> </a>
        <span class="title-color">Food Cupboard </span>
      </div>
    </div>

    <div class="col-3">
      <div class="category-wrap">
        <div class="bg-shape bg-theme-pink border-pink"></div>
        <a href="shop.html"> <img class="category img-fluid" src="{% static 'pwa/images/catagoeris/4.png' %}" alt="category" /> </a>
        <span class="title-color">Fresh Fruits & Veggies </span>
      </div>
    </div>

    <div class="col-3">
      <div class="category-wrap">
        <div class="bg-shape bg-theme-purple border-purple"></div>
        <a href="shop.html"> <img class="category img-fluid" src="{% static 'pwa/images/catagoeris/5.png' %}" alt="category" /> </a>
        <span class="title-color">Drinks& Beverages</span>
      </div>
    </div>

    <div class="col-3">
      <div class="category-wrap">
        <div class="bg-shape bg-theme-blue border-blue"></div>
        <a href="shop.html"> <img class="category img-fluid" src="{% static 'pwa/images/catagoeris/6.png' %}" alt="category" /> </a>
        <span class="title-color">Instant Mixes </span>
      </div>
    </div>

    <div class="col-3">
      <div class="category-wrap">
        <div class="bg-shape bg-theme-yellow border-yellow"></div>
        <a href="shop.html"> <img class="category img-fluid" src="{% static 'pwa/images/catagoeris/7.png' %}" alt="category" /> </a>
        <span class="title-color">Ready to Eat Food</span>
      </div>
    </div>

    <div class="col-3">
      <div class="category-wrap">
        <div class="bg-shape bg-theme-orange border-orange"></div>
        <a href="shop.html"> <img class="category img-fluid" src="{% static 'pwa/images/catagoeris/8.png' %}" alt="category" /> </a>
        <span class="title-color">Dales & Pulses </span>
      </div>
    </div>
  </div>
</section>
