{% extends 'pwa/accounts/base.html' %} {% load static %} {% block content %}
<!-- Header Start -->
<header class="header">
  <div class="logo-wrap">
    <a href="index.html"><i class="iconly-Arrow-Left-Square icli"></i></a>
    <h1 class="title-color font-md">Accounts</h1>
  </div>
  <div class="avatar-wrap">
    <a href="index.html">
      <i class="iconly-Home icli"></i>
    </a>
  </div>
</header>
<!-- Header End -->

<!-- Main Start -->
<main class="main-wrap account-page mb-xxl">
  <div class="account-wrap section-b-t">
    <div class="user-panel">
      <div class="media">
        <a href="account.html"> <img src="{% static 'pwa/images/avatar/avatar.jpg' %}" alt="avatar" /></a>
        <div class="media-body">
          <a href="account.html" class="title-color">Andrea Joanne
            <span class="content-color font-sm">andreajoanne@gmail.com</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Navigation Start -->
    <ul class="navigation">
      <li>
        <a href="index.html" class="nav-link title-color font-sm">
          <i class="iconly-Home icli"></i>
          <span>Home</span>
        </a>
        <a href="index.html" class="arrow"><i data-feather="chevron-right"></i></a>
      </li>

      <li>
        <a href="category-wide.html" class="nav-link title-color font-sm">
          <i class="iconly-Category icli"></i>
          <span>Shop by Category</span>
        </a>
        <a href="category-wide.html" class="arrow"><i data-feather="chevron-right"></i></a>
      </li>

      <li>
        <a href="order-history.html" class="nav-link title-color font-sm">
          <i class="iconly-Document icli"></i>
          <span>Orders</span>
        </a>
        <a href="order-history.html" class="arrow"><i data-feather="chevron-right"></i></a>
      </li>

      <li>
        <a href="wishlist.html" class="nav-link title-color font-sm">
          <i class="iconly-Heart icli"></i>
          <span>Your Wishlist</span>
        </a>
        <a href="wishlist.html" class="arrow"><i data-feather="chevron-right"></i></a>
      </li>

      <li>
        <a href="javascript:void(0)" data-bs-toggle="offcanvas" data-bs-target="#language" aria-controls="language" class="nav-link title-color font-sm">
          <img src="{% static 'pwa/icons/png/flags.png' %}" alt="flag" />
          <span>Langauge</span>
        </a>
        <a href="javascript:void(0)" class="arrow"><i data-feather="chevron-right"></i></a>
      </li>

      <li>
        <a href="notification.html" class="nav-link title-color font-sm">
          <i class="iconly-Notification icli"></i>
          <span>Notification</span>
        </a>
        <a href="notification.html" class="arrow"><i data-feather="chevron-right"></i></a>
      </li>

      <li>
        <a href="setting.html" class="nav-link title-color font-sm">
          <i class="iconly-Setting icli"></i>
          <span>Settings</span>
        </a>
        <a href="setting.html" class="arrow"><i data-feather="chevron-right"></i></a>
      </li>

      <li>
        <a href="javascript:void(0)" class="nav-link title-color font-sm">
          <i class="iconly-Graph icli"></i>
          <span>Dark</span>
        </a>

        <div class="dark-switch">
          <input id="darkButton" type="checkbox" />
          <span></span>
        </div>
      </li>

      <li>
        <a href="javascript:void(0)" class="nav-link title-color font-sm">
          <i class="iconly-Filter icli"></i>
          <span>RTL</span>
        </a>

        <div class="dark-switch">
          <input id="rtlButton" type="checkbox" />
          <span class="before-none"></span>
        </div>
      </li>
    </ul>
    <!-- Navigation End -->
    {% if user.is_authenticated %}
    <button class="log-out" data-bs-toggle="offcanvas" data-bs-target="#confirmation" aria-controls="confirmation">
      <i class="iconly-Logout icli"></i>Sign Out
    </button>
    {% else %}
    <button class="log-out" onclick="location.href='{% url 'accounts:login' %}'">
      <i class="iconly-Login icli"></i>Log In
    </button>
    {% endif %}


  </div>
</main>
<!-- Main End -->

<!-- Footer Start -->
{%include 'pwa/widgets/footer.html'%}
<!-- Footer End -->

<!-- Action Language Start -->
<div class="action action-language offcanvas offcanvas-bottom" tabindex="-1" id="language" aria-labelledby="language">
  <div class="offcanvas-body small">
    <h2 class="m-b-title1 font-md">Select Language</h2>
    <ul class="list">
      <li>
        <a href="javascript:void(0)" data-bs-dismiss="offcanvas" aria-label="Close"> <img src="{% static 'pwa/icons/flag/us.svg" alt="us" /> English </a>
          </li>
          <li>
            <a href="javascript:void(0)" data-bs-dismiss="offcanvas" aria-label="Close"> <img src="{% static 'pwa/icons/flag/in.svg" alt="us" />Indian </a>
          </li>
          <li>
            <a href="javascript:void(0)" data-bs-dismiss="offcanvas" aria-label="Close"> <img src="{% static 'pwa/icons/flag/it.svg" alt="us" />Italian</a>
          </li>
          <li>
            <a href="javascript:void(0)" data-bs-dismiss="offcanvas" aria-label="Close"> <img src="{% static 'pwa/icons/flag/tf.svg" alt="us" /> French</a>
          </li>
          <li>
            <a href="javascript:void(0)" data-bs-dismiss="offcanvas" aria-label="Close"> <img src="{% static 'pwa/icons/flag/cn.svg" alt="us" /> Chines</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Action Language End -->

    <!-- Action confirmation Start -->
    <div class="action action-confirmation offcanvas offcanvas-bottom" tabindex="-1" id="confirmation" aria-labelledby="confirmation">
    <div class="offcanvas-body small">
        <div class="confirmation-box">
            <h2>Are You Sure?</h2>
<p class="font-sm content-color">You are about to log out of your account. Any unsaved changes will be lost. Are you sure you want to continue?</p>

            <div class="btn-box">
                <button class="btn-outline" data-bs-dismiss="offcanvas" aria-label="Close">Cancel</button>
                
                    <a href="{% url 'accounts:logout' %}" class="btn-solid d-block" data-bs-dismiss="offcanvas" aria-label="Close">Sign Out</a>

  </div>
</div>
</div>
</div>

<!-- Action Confirmation End -->

<!-- jquery 3.6.0 -->
<script src="{% static 'pwa/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap Js -->
    <script src="{% static 'pwa/js/bootstrap.bundle.min.js"></script>

    <!-- Lord Icon -->
    <script src="{% static 'pwa/js/lord-icon-2.1.0.js"></script>

    <!-- Feather Icon -->
    <script src="{% static 'pwa/js/feather.min.js"></script>

    <!-- Theme Setting js -->
    <script src="{% static 'pwa/js/theme-setting.js"></script>

    <!-- Script js -->
    <script src="{% static 'pwa/js/script.js"></script>
  </body>
  <!-- Body End -->
</html>
{% endblock %}